# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store

# Ignore Jupyter notebooks
#*.ipynb

# Ignore foder creat by  pip editable mode (pip install -e ): VaspDefAnalisys.egg-info/
VaspDefAnalisys.egg-info/

